

#highscore-link{
  text-align: left;
}

#count-clock{
  display: none;
  float: right;
  margin-right: 2%;
}



.col{
  float: left;
  margin-left: auto;
  margin-right: auto;
}

/* .card{
  outline: solid 3px #3F826D;
} */

#start-card{
  display: block;
  text-align: center;
}

#question-card{
  display: none;
}

#question-card p{
  text-align: left;
}

