body{
  background-color: black !important;
  color: #39ff14 !important;
  font-family: 'VT323', monospace;
}

header a, span, p{
  color: #39ff14;
}

input{
  background-color: black;
  color: #39ff14;
  border: solid 2px #39ff14;
}

#highscore-link{
  text-align: left;
}

#count-clock{
  display: none;
  float: right;
  margin-right: 2%;
}


.col{
  float: left;
  margin-left: auto;
  margin-right: auto;
}

.btn-primary{
  background-color: black;
  color: #39ff14;
  border: solid 2px #39ff14;
}

.btn-primary:focus{
  box-shadow: none !important;
}

.btn:hover, .btn:focus, .btn:active{
  background-color: #39ff14 !important;
  color: black !important;
  border: solid 2px black !important;
  box-shadow: none !important;

}






.card{
  background-color: black;
  border: solid 2px #39ff14;
}

#start-card{
  display: block;
  text-align: center;
}

#question-card{
  display: none;
}

#question-card p{
  text-align: left;
}

#score-card{
  display: none;
  text-align: left;
}

#invalid-initials-alert{
  font-size: 10px;
}

.correct{
  color:#39ff14;
  text-align: center;
}

.incorrect{
  color: red;
  text-align: center;
}




